include README.md
include LICENSE
include pyproject.toml
recursive-include webrtc_audio_processing *.py
recursive-include examples *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.so
global-exclude .DS_Store